* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la barra de navegación */
.navigation-bar {
    background-color: #2F4F2F; /* Verde bosque oscuro */
    opacity: 0.8;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Estilo para el logo de la barra */
.navigation-bar .logo {
    color: #98FB98; /* Verde pálido */
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.logo a {
    color: inherit;
    text-decoration: none; 
}

.logo a:hover {
    color: inherit; 
    text-decoration: none; 
}
/* Lista de enlaces */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Estilo para los enlaces */
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Botón especial para "Animales" */
.btn-animales {
    background-color: #32CD32; /* Verde lima */
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    opacity: 1;
}



.btn-animales:hover {
    background-color: #00DD6F; /* Verde más claro */
}

/* Imagen del animal */
.Img-animal {
    position: relative;
    height: 100vh; /* Ocupa toda la pantalla */
    width: 100%;
    overflow: hidden;
}

.Img-animal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Nombre del animal sobre la imagen */
.Img-animal .nombre {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 8px;
    z-index: 1;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
}

/* Sección de contenido */
.content {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    gap: 30px;
    font-family: 'Arial', sans-serif;
    background-color: #A9D08E; /* Verde suave */
}

.column {
    width: 45%;
    background-color: #E6F2E6; /* Verde muy claro */
    border-radius: 10px;
    padding: 10px;
}

#descripcionGeneral {
    text-align: center;
}
#descripcionGeneral1 {
    text-align: center;
}

.column h3 {
    font-size: 24px;
    color: #2F4F2F; /* Verde bosque oscuro */
    margin-bottom: 15px;
}

.column p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.column label {
    font-weight: bold;
    color: #2F4F2F;
    margin-top: 10px;
    display: block;
}

.carousel-inner img {
    width: 100%;
    height: 400px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Asegura que las imágenes mantengan sus proporciones */
}

/* Características */
.characteristic {
    display: flex;
    align-items: center;
}

.characteristic img {
    margin-bottom: 8px;
}

.content-characteristic {
    margin-left: 10px;
}

.content-characteristic label {
    margin-bottom: 0px;
}

.content-characteristic p {
    margin-left: 1px;
}

/* Sección del hábitat */
#habitats {
    padding: 40px 20px;
    background-color: #E6F2E6; /* Verde claro */
    text-align: center;
}

#habitats h3 {
    font-size: 24px;
    color: #2F4F2F; /* Verde bosque oscuro */
    margin-bottom: 20px;
}

#habitats img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#habitats ul {
    list-style: none;
    padding: 0;
}

#habitats ul li {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.mapa{
    width: 60%;
    height: 100%;
    margin: auto;
}
.mapa path{
    fill: Khaki;
    stroke: SaddleBrown;
    stroke-width: 1px;
}

#CONAR {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COCAU {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COPUT {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COHUI {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}

#COTOL {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COCUN{
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COBOY {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COSAN {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COANT {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COCAL {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#COMET {
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}
#CORIS{
    fill: #32CD32; 
    stroke: #2F4F2F; 
    stroke-width: 2px;
}

/* Footer */
footer {
    background-color: #2F4F2F;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
