* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Newsreader';
    src: url(/fuentes/Newsreader-VariableFont_opsz\,wght.ttf);
    font-weight: bold;
    font-style: bold;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para la barra de navegación */
.navigation-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: static;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
}

/* Estilo para el logo de la barra */
.navigation-bar .logo {
    color: #32CD32;
    font-size: 24px;
    font-weight: bold;
}
.logo a {
    color: #32CD32;
    text-decoration: none;
}
/* Lista de enlaces */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Estilo para los enlaces */
.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: rgba(30, 255, 0, 0.2);
    border-radius: 5px;
}

/* Botón especial para "Animales" */
.btn-animales {
    background-color: #32CD32;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btn-animales:hover {
    background-color: #07ff83;
}

.cita {
    background-color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cita .contenido {
    max-width: 600px;
    text-align: center;
}

.cita h1 {
    font-family: 'Newsreader';
    font-size: 2.5em;
    color: #000;
    margin-bottom: 15px;
    font-style: italic;
}

.cita .but-exp{
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
}

.cita .but-exp:hover {
    background-color: #089744;
}

.cita .imagenes {
    width: 400px;
    height: 100%;
}

.cita .imagenes img{
    display: block;
    width: auto;
}

.info {
    display: flex;
    padding: 35px 15px;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
}

.info .mapa {
    width: 500px;
    height: 500px;
    margin-right: 30px;
}

.mapa path{
    fill: #007b35;
    stroke: #006400;
    stroke-width: 2px;
}


.info .texto {
    max-width: 600px;
}

.info .texto p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

.causa {
    background-color: #007b35;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.causa h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.causa p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.8;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

footer p {
    margin: 0;
    font-size: 1em;
}



